@import 'src/app/shared/styles/form-wrapper.scss';
@import "src/app/shared/styles/buttons.scss";


.wrapper, .full-width {
    width: 100%;
}
.card-border, .block {
    margin: 32px 6px;
}
.btn-section {
    margin-bottom: 32px;
}
.btn-footer {
    margin: 16px 0;
}
form .inputs {
    margin-bottom: 16px;
}
.info-message {
    font-size: 0.75em;
}
.del-button {
    background-color: #d92344;
    color: #fff;
    border: none;
    cursor: pointer;
}