<div class="table-container">
  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. book 1" #input>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!-- Title Column -->
    <ng-container matColumnDef="title" sticky>
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by title"
      >
        Title
      </th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="description"
      >
        Description
      </th>
      <td mat-cell *matCellDef="let element" class="description">{{ element.description }}</td>
    </ng-container>

    <!-- Publish Date Column -->
    <ng-container matColumnDef="publishDate">
      <th mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Publish Date">
        Publish Date
      </th>
      <td mat-cell *matCellDef="let element">{{element.publishDate | date }} </td>
    </ng-container>

    <!-- Page Count Column -->
    <ng-container matColumnDef="pageCount">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by Page Count"
      >
        Page Count
      </th>
      <td mat-cell *matCellDef="let element">{{ element.pageCount }}</td>
    </ng-container>  

    <!-- Name Column -->
    <ng-container matColumnDef="actions" >
      <th
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1rem">
          <button mat-raised-button color="warn" class="btn button" (click)="onOpen(element)">
            Open
          </button>
          <button color="primary" mat-icon-button aria-label="Edit" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
    <tr mat-row (click)="onSelect(row)" [class.row-is-clicked]="selection.isSelected(row)" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of books"></mat-paginator>
</div>